<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <title>Khanh's Hospital</title>

    <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>THIS IS THE LIST OF GUEST</h1>
        <form  action="/data" method="post">
        <div class="mainbox">
            <p>The list contains: </p>
            <ul>
                <% for(var i = 0; i < DOC.length; i++){ %>
                    <input type="checkbox" name="checkbox" value="<%=DOC[i]._id%>">
                    <li><%= DOC[i].name %></li>
                <% } %>

                <button type="submit" name="'button">delete</button>
            </ul>
            <a href="http://localhost:5500/">Click here to return to main menu</a>
        </div>
    </form>

        <div class="secondbox">

        </div>

    </body>